.faq .row {
  padding: 25px 20px;
  border-bottom: 1px solid #f0f4f7;
  cursor: pointer;
}
.faq-Q {
  margin: 0;
  color: #fff;
      position: relative;
	      font-size: 18px;
		  text-align:left;
}
.faq-Q:before {
  position: absolute;
  top: 10px;
  width: 10px;
  height: 2px;
  content: '';
  transition: all 0.3s ease;
  right: 21px;
  transform: rotate(45deg);
  background: #dde2e6;
}
.faq-Q:after {
  position: absolute;
  top: 10px;
  width: 10px;
  height: 2px;
  content: '';
  transition: all 0.3s ease;
  right: 15px;
  transform: rotate(-45deg);
  background: #dde2e6;
}
.faq-D {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
  text-align:justify;
}
.faqOpen {
      background: rgba(255, 255, 255, 0.3);
      border-radius: 9px;
}
.faqOpen .row {
  border: 0;
      padding: 25px 20px;
}
.faqOpen .faq-D {
  margin-top: 15px;
  height: inherit;
  opacity: 1;
}
.faqOpen .faq-Q:before {
  position: absolute;
  top: 10px;
  width: 16px;
  height: 2px;
  content: '';
  right: 15px;
  transform: rotate(45deg);
  background: #00349a;
}
.faqOpen .faq-Q:after {
  position: absolute;
  top: 10px;
  width: 16px;
  height: 2px;
  content: '';
  right: 15px;
  transform: rotate(-45deg);
  background: #00349a;
}
.press {
  margin: 50px 0 20px;
}
